<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.usikkert.kouchat.android"
          android:versionCode="2"
          android:versionName="0.6">

  <uses-sdk android:minSdkVersion="10"
            android:targetSdkVersion="10"/>

  <uses-permission android:name="android.permission.INTERNET"/>

  <application android:label="@string/app_name"
               android:icon="@drawable/kou_icon_96x96"
               android:debuggable="false">

    <activity android:name=".controller.MainChatController">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".controller.SettingsController"/>

    <service android:name=".service.ChatService"/>

  </application>

</manifest>
