<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.usikkert.kouchat.android.test"
          android:versionCode="15"
          android:versionName="1.1.0">>

  <uses-sdk android:minSdkVersion="10"
            android:targetSdkVersion="16"
            tools:ignore="OldTargetApi"/>

  <application android:label="KouChat integration tests"
               android:allowBackup="false"
               tools:ignore="MissingApplicationIcon">
    <uses-library android:name="android.test.runner"/>
  </application>

  <instrumentation android:targetPackage="net.usikkert.kouchat.android"
                   android:name="android.test.InstrumentationTestRunner"/>

</manifest>
